table {
    /* width: 100%; */
    border-collapse: collapse;
    margin-top: 150px;
   width: 900px;
    margin: 100px;
    
  }
  

  th {
    background-color: #3cc5f39c;
    padding: 10px;
    text-align: left;
    font-weight: bold;
  
  }
  
 
  tr:nth-child(even) {
    background-color: #3a95c9;
  } 
  

  td {
    padding: 10px;
    color: #3baa41;
  }
  
  input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    color: #538221;
  }
  

  button {
    background-color: #4caf50;
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
  }
  
  
  button:hover {
    background-color: #010501;
  }
 